<!DOCTYPE html>
<html
	lang='{{ lang | default: 'en' }}'
	dir='ltr'
	prefix='og: http://ogp.me/ns#'
>

	{% assign alternates = '' | split: '/' %}
	{% for entry in collections.all %}
		{% if entry.data.ref == ref and entry.data.lang != lang %}
			{% assign alternates = alternates | concat: entry %}
		{% endif %}
	{% endfor %}

	{% render 'head.liquid', date: date, updated: updated, title: title, description: description, lang: lang, alternates: alternates, site: site, url: page.url %}

	<body>

		{% render 'header.liquid', lang: lang, site: site %}
		{% render 'nav.liquid', lang: lang, nav: nav, alternates: alternates %}

		{{ content }}

		<div class='footer-container'>
			<footer>
				{% capture page_source %}{{ source }}/src/branch/main{{ path | replace: '\./', '/' | replace: ' ', '%20' }}{% endcapture %}
				{% assign now_xml = 'now' | date_to_xmlschema %}
				{% assign now_string = 'now' | date: '%-d %B %Y at %H:%M' %}
				{% render footer, lang: lang, source: site.source, path: page.inputPath, url: page.url, eleventyVersion: eleventy.version, now_xml: now_xml, now_string: now_string %}
			</footer>
		</div>

	</body>
</html>
