@page {
	size: a4 portrait;
}

body,
.module {
	background: none;
	color: black;
}

header,
footer,
aside,
button,
.weaver-kit>*:not(.module, #internetscroll) {
	display: none;
}

.tall {
	img {
		max-height: 90vh;
	}
}

.module {
	border: none;

	&>*:not(.scroll-sheet) {
		display: none;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

#internetscroll {
	border: none;
	break-after: page;

	#instructions {
		break-before: page;
	}
}

.scroll-sheet {
	color: black;
	background: none;
	counter-increment: scrollSheet;

	figure {
		break-after: page;
		break-before: page;
		height: 24cm !important;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0;
		padding-top: 2cm;

		&.tall {
			img {
				height: calc(100% - 4cm);
			}
		}
	}

	&::before {
		content: counter(scrollSheet);
		display: block;
		text-align: center;
		font: 800 var(--size-2) sans-serif;
		margin: 0 auto;
		width: 2.5em;
		height: 2.5em;
		line-height: 2em;
		background: url('/empty-scroll-emoji.svg');
		color: maroon;
	}
}

	}
}
