:root {
	/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--size--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
	--size--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
	--size-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
	--size-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
	--size-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
	--size-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
	--size-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
	--size-5: clamp(2.5rem, 2.4rem + 1.8vw, 3.83rem);

	/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4,3xs-s&g=s,l,xl,12 */
	--space-3xs: clamp(0.3125rem, 0.2908rem + 0.1087vw, 0.375rem);
	--space-2xs: clamp(0.5625rem, 0.519rem + 0.2174vw, 0.6875rem);
	--space-xs: clamp(0.875rem, 0.8098rem + 0.3261vw, 1.0625rem);
	--space-s: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
	--space-m: clamp(1.6875rem, 1.5571rem + 0.6522vw, 2.0625rem);
	--space-l: clamp(2.25rem, 2.0761rem + 0.8696vw, 2.75rem);
	--space-xl: clamp(3.375rem, 3.1141rem + 1.3043vw, 4.125rem);
	--space-2xl: clamp(4.5rem, 4.1522rem + 1.7391vw, 5.5rem);

	/* Custom pairs */
	--space-3xs-s: clamp(0.3125rem, -0.0571rem + 1.8478vw, 1.375rem);
	--space-2xs-l: clamp(0.5625rem, -0.1984rem + 3.8043vw, 2.75rem);
}

@font-face {
	font-family: 'Space Grotesk';
	font-style: normal;
	font-weight: 300 700;
	font-stretch: 100%;
	font-display: swap;
	src: local('Space Grotesk'), local('SpaceGrotesk'), url('/space-grotesk.woff2') format('woff2');
}

@font-face {
	font-family: FT88;
	font-weight: 700;
	font-display: swap;
	src: url('/FT88-Bold.woff2') format('woff2');
}

body {
	--primary: crimson;
	--color: black;
	--bg: white;
	--shadow: .2em .2em .8em #0004;

	color: var(--color);
	background: url('/ournet-bg-light.svg'), var(--bg);
	font: var(--size-0) 'Space Grotesk', system-ui, sans-serif;
	margin: 0;
	line-height: 1.5;
	counter-set: scrollSheet 0;
	cursor: url('data:image/svg+xml;utf8,<svg width="32" height="32" version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m10 1h12v3h3v3h3v12h-3v3h-3v3h-12v-3h-3v6h18v-3h3v3h-3v3h-18v-3h-3v-6h3v-3h-3v-12h3v-3h3z" fill="crimson" stroke-width="3"/><path d="m7 4h3v15h3v-3h3v-3h-3v-12h3v12h3v-3h3v-3h-3v-6h3v6h3v3h-3v3h-3v3h-3v3h-3v3h3v-3h3v-3h3v-3h3v-3h3v3h-3v3h-3v3h-3v3h3v-3h3v-3h3v3h-3v3h-3v3h-3v-3h-3v3h-3v-3h-3v-3h-3z" fill="indigo"/></svg>'), default;
}

@media (prefers-color-scheme: dark) {
	body {
		--primary: mediumspringgreen;
		--color: white;
		--bg: black;
		--shadow: 0 0 3em #FFF8;
		background: url('/ournet-bg-dark.svg'), var(--bg);

		.dark {
			filter: invert(1);
		}
	}
}

@media (prefers-reduced-motion: no-preference) {
	* {
		transition: .2s;
	}
}

::selection {
	background: crimson;
	color: white;
}

header {
	position: sticky;
	top: 0;
	z-index: 3;
	width: 100%;

	&::after {
		content: '';
		display: block;
		height: var(--space-xl);
		background:
			url('data:image/svg+xml;utf8,<svg width="16" height="6" version="1.1" viewBox="0 0 16 6" xmlns="http://www.w3.org/2000/svg"><path d="m5 6v-1h1v1zm7 0v-1h1v1zm-12-1v-1h1v1zm1-1v-1h1v1zm0-1h-1v-1h1zm0-1v-1h-1v-1h15v1h1v1h-1v-1h-1v-1h-1v2h-1v-1h-1v-1h-2v1h-1v2h-1v-1h-1v-2h-1v2h-1v1h-1v-1zm4 0h1v1h1v1h-2zm2 2h1v1h-1zm2-3h1v1h-1zm1 1h2v1h-2zm0 1v1h-1v-1zm0 1h1v1h-1zm3-2h1v1h-1zm-10 3v-1h1v1zm11 0v-1h1v-1h1v1l-1-2e-3v1zm-12-4h1v-1h-1z" fill="crimson"/></svg>');
		background-size: contain;
	}

	h1 {
		padding: var(--space-2xs);
		margin: 0;
		font-size: var(--size-3);
		background: crimson;

		a {
			text-decoration: none;
			color: white;
		}
	}
}

aside {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	left: 0;
	font: 800 var(--size-1) FT88, sans-serif;
	z-index: 3;
	text-align: center;
	background: var(--bg);
	padding: var(--space-s);

	a,
	label {
		text-decoration: none;
		color: var(--color);

		&:hover,
		&:focus {
			color: var(--primary);
		}
	}
}

#navToggle,
#navToggleBtn,
#altLangListToggle {
	display: none;

}

#mainNav {
	display: flex;
	flex-direction: column;
	text-align: left;
}

#altLangList {
	position: fixed;
	bottom: -5rem;
	display: flex;
	background: var(--primary);
	font-size: var(--size-2);
	text-align: center;
	line-height: var(--space-xl);
}

#navToggle:checked {
	&~#mainNav {
		right: var(--space-s);
		padding: var(--space-s);
	}
}

#altLangListToggle:checked {
	&~#altLangList {
		bottom: 0;
		padding: 0 var(--space-xs);
		gap: var(--space-xs);
	}
}

@media (max-width: 950px) {
	aside {
		left: unset;
		right: 0;
		background: none;
		gap: var(--space-s);
		flex-direction: row;
		font-size: var(--size-3);
	}

	#navToggleBtn {
		display: block;
	}

	#navToggleBtn,
	#altLangListToggleBtn {
		background: var(--bg);
		line-height: var(--space-xl);
		height: var(--space-xl);
		width: var(--space-xl);
		outline: 3px solid var(--color);

		span {
			visibility: hidden;
		}
	}

	#mainNav,
	#altLangList {
		position: fixed;
		inset: unset;
		flex-direction: column;
		bottom: calc(2 * var(--space-s) + var(--space-xl));
		right: -20rem;
		gap: var(--space-3xs);
		outline: 3px solid var(--color);
		text-align: right;
		background: var(--primary);

		a {
			color: var(--bg);
		}
	}

	#altLangListToggle:checked {
		&~#altLangList {
			text-align: center;
			width: var(--space-xl);
			right: calc(2 * var(--space-s) + var(--space-xl));
			bottom: calc(2 * var(--space-s) + var(--space-xl));
			gap: 0;
			padding: 0;
		}
	}
}

main:not(.wide),
.wide>p {
	margin: var(--space-m) auto;
	width: clamp(15rem, calc(100vw - 2 * var(--space-2xs)), 50rem);

	&>*+* {
		margin: 1em 0 0 0;
	}
}

a {
	color: var(--primary);
}

a,
label,
button {
	cursor: url('data:image/svg+xml;utf8,<svg width="32" height="32" version="1.1" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m10 1h12v3h3v3h3v12h-3v3h-3v3h-12v-3h-3v6h18v-3h3v3h-3v3h-18v-3h-3v-6h3v-3h-3v-12h3v-3h3z" fill="mediumspringgreen" stroke-width="3"/><path d="m7 4h3v15h3v-3h3v-3h-3v-12h3v12h3v-3h3v-3h-3v-6h3v6h3v3h-3v3h-3v3h-3v3h-3v3h3v-3h3v-3h3v-3h3v-3h3v3h-3v3h-3v3h-3v3h3v-3h3v-3h3v3h-3v3h-3v3h-3v-3h-3v3h-3v-3h-3v-3h-3z" fill="indigo"/></svg>'), pointer;
}

p,
li,
dt {
	a {
		&:hover {
			filter: hue-rotate(270deg);
		}
	}
}

small {
	font-size: 75%;
}

figure {
	img {
		width: 100%;
		height: auto;
	}

	&.tall {
		display: flex;
		flex-direction: column;
		height: 80%;
		width: auto;
		margin: 0;
		justify-content: center;

		img {
			height: 100%;
			width: auto;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: FT88, sans-serif;
	line-height: 1;
}

h1 {
	text-align: center;
	font-size: var(--size-5);
}

h2 {
	font-size: var(--size-4);
}

h3 {
	font-size: var(--size-3);
}

h4 {
	font-size: var(--size-2);
}

mark {
	color: black;
	background: mediumspringgreen;
	padding: 0 var(--space-3xs);
	font-weight: 600;
}

blockquote {
	font-family: 'EB Garamond', serif;
}

ol {
	ol {
		li {
			list-style-type: lower-alpha;
		}
	}
}

li {
	&.book {
		list-style: '📖 ';
	}

	&.movie {
		list-style: '📽️ ';
	}

	&.idea {
		list-style: '💡 ';
	}
}

code {
	line-break: anywhere;
}

footer {
	--primary: indigo;
	color: black;
	background: mediumspringgreen;
	font-size: var(--size--1);
	padding-bottom: var(--space-s);

	p {
		width: clamp(15rem, calc(100vw - 2 * var(--space-2xs)), 50rem);
		margin: 0 auto 1em;

		&:first-child {
			padding-top: var(--space-m);
		}
	}

	&::before {
		content: '';
		display: block;
		height: var(--space-xl);
		background:
			url('data:image/svg+xml;utf8,<svg width="16" height="6" version="1.1" viewBox="0 0 16 6" xmlns="http://www.w3.org/2000/svg"><path d="m5 0v1h1v-1zm7 0v1h1v-1zm-12 1v1h1v-1zm1 1v1h1v-1zm0 1h-1v1h1zm0 1v1h-1v1h15v-1h1v-1h-1v1h-1v1h-1v-2h-1v1h-1v1h-2v-1h-1v-2h-1v1h-1v2h-1v-2h-1v-1h-1v1zm4 0h1v-1h1v-1h-2zm2-2h1v-1h-1zm2 3h1v-1h-1zm1-1h2v-1h-2zm0-1v-1h-1v1zm0-1h1v-1h-1zm3 2h1v-1h-1zm-10-3v1h1v-1zm11 0v1h1v1h1v-1l-1 2e-3v-1zm-12 4h1v1h-1z" fill="mediumspringgreen"/></svg>'),
			var(--bg);
		background-size: contain;
	}
}

.flow {
	width: clamp(15rem, 94vw, 50rem);
	margin: 1em auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill,
			minmax(clamp(16rem, 33vw, 26rem), 1fr));
	gap: var(--space-m);
	margin: var(--space-m) var(--space-s);

	dt,
	dd {
		display: inline;
		margin: 0;
	}

	dt {
		font-weight: 800;

		&::after {
			content: ':';
		}
	}
}

.flex {
	display: flex;
	justify-content: center;
	gap: var(--space-s);
}

.center {
	text-align: center;
}

.box,
.module {
	padding: var(--space-s);
	border: 3px solid var(--color);

	h2,
	h3 {
		text-align: center;
		margin: 0 0 var(--space-xs);
	}
}

.button,
button {
	text-decoration: none;
	text-align: center;
	font: 800 var(--size-1) FT88, sans-serif;
	background: var(--primary);
	color: var(--bg);
	border: none;
	padding: var(--space-3xs) var(--space-s);
	box-shadow: var(--space-3xs) var(--space-3xs) 0 var(--color);

	&:hover {
		box-shadow: none;
	}
}

.red,
.core {
	--primary: lightyellow;
	color: white;
	background: crimson;
}

.yellow {
	--primary: crimson;
	color: black;
	background: gold;

	::selection {
		background: orangered;
		color: white;
	}
}

.blue {
	--primary: mediumspringgreen;
	color: white;
	background: indigo;
}

.green,
.environment {
	--primary: indigo;
	color: black;
	background: mediumspringgreen;
}

.fuchsia,
.extension {
	--primary: indigo;
	color: black;
	background: fuchsia;
}

.main {
	--primary: mediumspringgreen;
	background: indigo;
	color: white;

}

.history {
	--primary: wheat;
	background: maroon;
	color: white;
}

#events {
	padding: var(--space-s) 0;
	border: 3px solid var(--color);
	background: var(--bg);

	&>h2 {
		text-align: center;
		margin: 0 var(--space-s) var(--space-xs);
	}
}

.events {
	display: flex;
	overflow-x: scroll;
	gap: var(--space-s);

	figure {
		margin: 0;
	}

	h2 {
		font-size: var(--size-2);
		margin: var(--space-3xs) 0;
		word-break: break-word;
	}

	p {
		font-size: var(--size--1);
	}
}

.event {
	width: clamp(10rem, 25vw, 80vw);
	flex-shrink: 0;
	background: indigo;
	color: white;
	border: none;

	.flex {
		flex-wrap: wrap;
		gap: var(--space-2xs);
	}

	&:first-child {
		margin-left: var(--space-s);
	}

	&:last-child {
		margin-right: var(--space-s);
	}
}

.future {
	background: var(--primary);
	color: var(--bg);
	display: flex;
	flex-direction: column;
	justify-content: center;

	h2::before {
		content: 'UPCOMING! 👀';
		display: block;
		color: black;
		background: mediumspringgreen;
		margin: 0 auto var(--space-m);
		padding: var(--space-3xs) 0;
	}
}

@media screen {
	.print-only {
		display: none;
	}

	.scroll-sheet,
	#internetscroll {
		--primary: maroon;
		padding: var(--space-s);
		color: black;
		background: wheat;
		counter-increment: scrollSheet;
		margin: 1em auto;
	}
}
