:root {
	/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--size--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
	--size--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
	--size-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
	--size-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
	--size-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
	--size-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
	--size-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
	--size-5: clamp(2.5rem, 2.4rem + 1.8vw, 3.83rem);

	/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4,3xs-s&g=s,l,xl,12 */
	--space-3xs: clamp(0.3125rem, 0.2908rem + 0.1087vw, 0.375rem);
	--space-2xs: clamp(0.5625rem, 0.519rem + 0.2174vw, 0.6875rem);
	--space-xs: clamp(0.875rem, 0.8098rem + 0.3261vw, 1.0625rem);
	--space-s: clamp(1.125rem, 1.038rem + 0.4348vw, 1.375rem);
	--space-m: clamp(1.6875rem, 1.5571rem + 0.6522vw, 2.0625rem);
	--space-l: clamp(2.25rem, 2.0761rem + 0.8696vw, 2.75rem);
	--space-xl: clamp(3.375rem, 3.1141rem + 1.3043vw, 4.125rem);
	--space-2xl: clamp(4.5rem, 4.1522rem + 1.7391vw, 5.5rem);

	/* Custom pairs */
	--space-3xs-s: clamp(0.3125rem, -0.0571rem + 1.8478vw, 1.375rem);
	--space-2xs-l: clamp(0.5625rem, -0.1984rem + 3.8043vw, 2.75rem);
}

@font-face {
	font-family: FT88;
	font-weight: 700;
	font-display: swap;
	src: url('/FT88-Bold.woff2') format('woff2');
}

body {
	--primary: crimson;
	--color: black;
	--bg: mintcream;
	--shadow: .2em .2em .8em #0004;

	color: var(--color);
	background: var(--bg);
	font: var(--size-0) system-ui, sans-serif;
	margin: 0;
	line-height: 1.5;
	counter-set: scrollSheet 0;

	&.scroll {
		--bg: oldlace;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		--primary: gold;
		--color: white;
		--bg: black;
		--shadow: 0 0 3em #FFF8;

		&.scroll {
			--bg: saddlebrown;
		}

		.dark {
			filter: invert(1);
		}
	}
}

* {
	transition: .3s;
}

header {
	display: flex;
	justify-content: end;
	position: sticky;
	top: var(--space-s);
	right: 0;
	z-index: 3;
	font-size: var(--size-1);
	font-weight: 800;
	line-height: var(--space-l);
	text-align: center;

	label {
		font-size: var(--size-3);
	}

	a,
	label {
		text-decoration: none;
		color: var(--color);

		&:hover,
		&:focus {
			transform: scale(1.5) rotate(3deg);
		}

		&:active {
			opacity: .6;
		}
	}
}

#navToggle,
#navToggleBtn,
#altLangListToggle {
	display: none;

}

#mainNav,
#altLangList {
	display: flex;
	height: min-content;
	padding: 0 var(--space-m);
	backdrop-filter: blur(2em);
	border-radius: var(--space-xs);
	align-items: center;
	gap: var(--space-m);
}

#altLangList {
	position: fixed;
	top: calc(var(--size-3) + var(--space-m));
	right: -15rem;
	flex-direction: column;
	font-size: var(--size-3);
	width: var(--space-xl);
	padding: var(--space-xs) 0;
}

#altLangListToggleBtn {
	margin-right: var(--space-m);
}

#navToggle:checked {
	&~#mainNav {
		right: var(--space-2xs);
	}
}

#altLangListToggle:checked {
	&~#altLangList {
		right: var(--space-s);
	}
}

@media (max-width: 950px) {
	header {
		position: fixed;
		top: unset;
		bottom: 0;
	}

	#navToggleBtn {
		display: block;
	}

	#navToggleBtn,
	#altLangListToggleBtn {
		backdrop-filter: blur(2em);
		line-height: var(--space-xl);
		height: var(--space-xl);
		width: var(--space-xl);
		border-radius: var(--space-xs);
		margin: var(--space-s) var(--space-2xs);
	}

	#mainNav,
	#altLangList {
		position: fixed;
		inset: unset;
		bottom: calc(2 * var(--space-s) + var(--space-xl));
		right: -15rem;
		flex-direction: column;
		gap: var(--space-3xs);
	}

	#mainNav {
		padding: var(--space-xs) var(--space-m);
	}

	#altLangListToggle:checked {
		&~#altLangList {
			right: calc(3 * var(--space-2xs) + var(--space-xl));
		}
	}
}

main:not(.wide),
footer,
.wide>p {
	margin: var(--space-m) auto;
	width: clamp(15rem, 94vw, 50rem);

	&>*+* {
		margin: 1em 0 0 0;
	}
}

a {
	color: var(--primary);
}

p,
li,
dt {
	a {
		&:hover {
			filter: hue-rotate(270deg);
		}
	}
}

figure {
	img {
		width: 100%;
		height: auto;
		border-radius: var(--space-m);
	}

	&.tall {
		display: flex;
		flex-direction: column;
		height: 80%;
		width: auto;
		margin: 0;
		justify-content: center;

		img {
			height: 100%;
			width: auto;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: FT88, sans-serif;
	line-height: 1;
}

h1 {
	text-align: center;
	font-size: var(--size-5);
}

h2 {
	font-size: var(--size-4);
}

h3 {
	font-size: var(--size-3);
}

h4 {
	font-size: var(--size-2);
}

mark {
	color: black;
	background: gold;
	padding: 0 var(--space-3xs);
	border-radius: var(--space-3xs);
}

blockquote {
	p {
		font-family: 'EB Garamond', serif;
	}
}

details {
	border-radius: var(--space-m);
	/*border: 1px solid #666;*/
	padding: var(--space-xs) var(--space-m);

	h3 {
		display: inline;
		margin: 0;
	}

	h4 {
		margin: 1em auto 0;
	}
}

summary {
	cursor: pointer;
}

ol {
	ol {
		li {
			list-style-type: lower-alpha;
		}
	}
}

li {
	&.book {
		list-style: '📖 ';
	}

	&.movie {
		list-style: '📽️ ';
	}
}

code {
	line-break: anywhere;
}

footer {
	border-top: 1px solid lightsteelblue;
	font-size: var(--size--1);
}

.flow {
	width: clamp(15rem, 94vw, 50rem);
	margin: 1em auto;
}

.flex {
	display: flex;
	justify-content: center;
	gap: var(--space-s);
}

.center {
	text-align: center;
}

.box {
	padding: var(--space-s);
	border-radius: var(--space-s);

	h2 {
		margin: 0 0 var(--space-xs);
	}
}

.button {
	text-decoration: none;
	text-align: center;
	font-weight: 800;
	font-size: inherit;
	background: var(--primary);
	color: var(--bg);
	border-radius: var(--space-2xs);
	padding: var(--space-3xs) var(--space-s);
	box-shadow: var(--shadow);

	&:hover {
		box-shadow: none;
	}
}

.red {
	--primary: wheat;
	color: white;
	background: crimson;
}

.yellow {
	--primary: crimson;
	color: black;
	background: gold;

	::selection {
		background: orangered;
		color: white;
	}
}

.blue {
	--primary: gold;
	color: white;
	background: darkblue;
}

.core {
	--primary: gold;
	background: indigo;
	color: white;

}

.main {
	--primary: wheat;
	background: royalblue;
	color: white;
}

.extension {
	--primary: mediumvioletred;
	background: paleturquoise;
	color: black;
}

.environment {
	background: mediumspringgreen;
	color: black;

	a {
		color: navy;
	}
}

.history {
	--primary: wheat;
	background: maroon;
	color: white;
}

.events {
	display: flex;
	overflow-x: scroll;
	gap: var(--space-m);
	padding: 0 var(--space-m);

	figure {
		margin: 0;
	}

	h2 {
		font-size: var(--size-2);
		margin: var(--space-3xs) 0;
	}

	p {
		font-size: var(--size--1);
	}
}

.event {
	width: clamp(10rem, 25vw, 80vw);
	flex-shrink: 0;
	background: lightskyblue;
	color: black;
}

.future {
	background: purple;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h2::before {
		content: 'UPCOMING!';
		display: block;
		color: black;
		background: gold;
		margin-bottom: var(--space-m);
		border-radius: var(--space-s);
		padding: var(--space-3xs) 0;
	}
}

.scroll-sheet {
	border-radius: var(--space-m);
	padding: var(--space-s);
	color: black;
	background: wheat;
	counter-increment: scrollSheet;
	margin: 1em auto;

	a[href*='/scroll/'] {
		color: wheat;
		background: maroon;
		padding: 0 var(--space-3xs);
		border-radius: var(--space-3xs);
		font-weight: 600;

		&::before {
			content: '📜 ';
		}

		&::after {
			content: ' #' counter(scrollSheet);
			font-weight: 900;
		}
	}

	a {
		color: maroon;
	}
}

.scroll {
	h2 {
		text-align: center;
	}
}

@media screen {
	.scroll {
		article:not(#intro) {
			padding: var(--space-xl) 0;
			border-top: solid 1px saddlebrown;
		}
	}
}
