<article id=tour class='wide red box'>
	{% if lang == 'it' %}
		<h2 class=center>Tour in Italia</h2>
		<p class=center>La Nostra Rete sarà in tour in Italia a Marzo!</p>
	{% else %}
		<h2 class=center>Italy Tour</h2>
		<p class=center>Knitting Our Internet will be touring around Italy in March!</p>
	{% endif %}
	<div class=flex>
		<iframe width=400px height=500px frameborder=0 allowfullscreen allow=geolocation src='https://umap.openstreetmap.fr/en/map/la-nostra-rete-tour_1188200?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=null&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=none&captionBar=false&captionMenus=true&fullscreenControl=null&captionControl=null'></iframe>
		<div class=text>
			{% if lang == 'it' %}
				<ul>
					<li>14 Marzo: <a href=https://falacosagiusta.org lang=it>Fa’ la cosa giusta</a>, Milano</li>
					<li>18 Marzo, 18:30: <a href=https://instagram.com/zero81occupato/ title='@zero81occupato su Instagram'>Zero81</a>, Napoli, ospite del <a href=https://livellosegreto.it/@collettivodemand title='Profilo del Collettivo Demand nel Fediverso'>Collettivo Demand</a></li>
					<li>25 Marzo, 17:00: <a href=https://osm.org/way/1120775726 title='Villa Bernabei su OpenStreetMap'>Villa Bernabei</a>, Velletri, ospite di <a href=https://instagram.com/urbanartlab title='@urbanartlab su Instagram'>Urban Art Lab</a></li>
					<li>27 Marzo: luogo da definire, Roma</li>
					<li>28 Marzo, 18:30: <a href=https://municipiozero.it/scift/>SCIFT</a>, Làbas, Bologna</li>
					<li>1–2 Aprile: <strong>ci connetteremo insieme</strong> al <a href=https://fediforum.org hreflang=en>FediForum</a> da <a href=https://municipiozero.it/scift/ lang=it>SCIFT</a>, Làbas, a Bologna!</li>
				</ul>
				<p>Se sarai in zona, vieni e porta persone! Altrimenti, condividi con gente in giro per l’Italia! Battimi un colpo se hai domande o vorresti più info.</p>
				<div class=flex>
					<a class='blue button' href='mailto:{{ site.author.email | obfuscateEmail }}' title='Scrivimi un’email'>Scrivimi</a>
					<a class='green button' href='https://signal.me/#eu/TB35ZwE_WESkrM6kFAD4EqOp0cSMuZjPq46ycl2tlzmyAMJJp2xPoYxYMNFf_X9v' title='Scrivimi su Signal'>Scrivimi</a>
				</div>
			{% else %}
				<ul>
					<li>14 March: <a href=https://falacosagiusta.org lang=it>Fa’ la cosa giusta</a>, Milan</li>
					<li>18 March, 18:30: <a href=https://instagram.com/zero81occupato/ title='@zero81occupato on Instagram'>Zero81</a>, Naples, kindly hosted by the <a href=https://livellosegreto.it/@collettivodemand hreflang=it title='The collective’s profile in the Fediverse'>Demand Collective</a></li>
					<li>25 March, 17:00: <a href=https://osm.org/way/1120775726 title='Villa Bernabei on OpenStreetMap' lang=it>Villa Bernabei</a>, Velletri hosted by <a href=https://instagram.com/urbanartlab title='@urbanartlab on Instagram'>Urban Art Lab</a></li>
					<li>27 March: location TBD, Rome</li>
					<li>28 March, 18:30: <a href=https://municipiozero.it/scift/ lang=it>SCIFT</a>, Làbas, Bologna</li>
					<li>1–2 April: we will connect together to <a href=https://fediforum.org>FediForum</a> from <a href=https://municipiozero.it/scift/ lang=it>SCIFT</a>, Làbas, Bologna!</li>
				</ul>
				<p>If you’ll be around, come and bring friends with you! Otherwise, share this to people around Italy! Hit me up if you have any questions or you need more info.</p>
				<div class=flex>
					<a class='green button' href='https://signal.me/#eu/TB35ZwE_WESkrM6kFAD4EqOp0cSMuZjPq46ycl2tlzmyAMJJp2xPoYxYMNFf_X9v' title='Text me on Signal'>Text me</a>
					<a class='blue button' href='mailto:{{ site.author.email | obfuscateEmail }}' title='Send me an email'>Email me</a>
				</div>
			{% endif %}
		</div>
	</div>
</article>
